@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,100,300,900,400italic);

/************************  SHOW COLORS  ************************/

//BT TALK COLORS
$dark-blue:#002a48;
$light-blue:#0f85ba;
$white:#fff;
$black:#000;
$red:#ed1e2e;
$light-grey: #ddd;
$med-grey: #666;
$dark-grey:#404040;
/**********************  END SHOW COLORS  **********************/

/**********************  END COLOR ELEMENTS **********************/
$background-color: $dark-blue;
$font-color: $black;

$border-color: rgba(15,133,186,.75);
$border-interactive:rgba(15,133,186,.75);
$border-hover:$white;

$menu-color: $red;
$footer-background: $red;
$footer-color: $black;

$overlay-color: rgba(256,256,256,.9);
$cast-overlay: rgba(0,42,72,.9);

$btn-color:rgba(0,42,72,.85);;
$btn-hover:rgba(0,42,72,1);;

$item-background: $black;
$item-title: $light-blue;
$item-text: $dark-grey;

$link-color:$light-grey;
$link-hover:$white;

$inpagelink-color: $dark-grey;
$inpagelink-hover: $light-blue;
$link-highlight:$dark-blue;
$highlight: $light-blue;
/**********************  END COLOR ELEMENTS **********************/

//FONTS
$font-family: "Lato", Helvetica, Arial, sans-serif;
$font-size: 15px;

$line-height:20px;
$mobile-font-size:13px;
$mobile-line-height:16px;

//BREAKPOINTS
$break-large:1280px;
$break-medium:1020px;
$break-small:750px;
$break-mobile:500px;

//IMAGE PATH
$imgPath:"../images/";

/************************  HEADER  ************************/
@import '../partials/header.scss';

/***********************  GLOBALS  **********************/
@import '../partials/globals.scss';

/***********************  INTRO  *************************/
@import '../partials/intro.scss';

/***********************  KEYART  *************************/
@import '../partials/keyart.scss';

/***********************  CAST  *************************/
@import '../partials/cast.scss';

/********************  PRODUCTION  **********************/
@import '../partials/prod.scss';

/*********************  GALLERY  ************************/
@import '../partials/gallery.scss';

/*********************  VIDEOS  *************************/
@import '../partials/videos.scss';

/********************  DOWNLOADS  ***********************/
@import '../partials/downloads.scss';

/*********************  FOOTER  *************************/
@import '../partials/footer.scss';