$intro-width: 1000;
$intro-arrow-space: 20px;
$intro-arrow-width: $intro-width + $intro-arrow-space*2 + $arrow-width*2;

#intro{
	background: yellow;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
	padding-top: 0px !important;

	.intro-container{


		.intro-item{
			position: absolute;
			top:0;
			left:50%;
			display: none;

			&:first-child{
				display: block;
			}

			.intro-animate{
				position: absolute;
				top:0;
				left:0;

				&.twodimensional {
					background: cyan;
					border:1px solid white;
				}

				&.threedimensional{
					div{
						background: cyan;
						border:1px solid white;
						position: absolute;
						top:0;
						left:0;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		.intro-arrows{
			@extend .arrow-container;
			width: $intro-arrow-width;
			left:50%;
			margin-left: $intro-arrow-width/-2;
			top:325px;

			.next{
				@extend .nextbtn;
			}

			.prev{
				@extend .prevbtn;
			}
			
		}
	}
}