//FOOTER
div.footer
	div.social
		a.facebook(target="_blank" href="https://www.facebook.com/BluntTalk.Starz")
		a.twitter(target="_blank" href="https://twitter.com/BluntTalk_starz")
		a.instagram(target="_blank" href="http://instagram.com/outlander_starz")
	div.copyright STARZ and related channels and service marks are the property of Starz Entertainment, LLC. Blunt Talk &copy; MRC II Distribution Company, LP. All rights reserved.
